@import "../../styles/variables.scss";

.footer {
    margin-top: auto; /* Push the footer to the bottom of the container */
    height: 50px;
    width: 100%;
    background-color: $primarycolor;
    padding: 1rem;
    text-align: center;
    color: white;
    border-top: solid 5px $border-color;
    font-family: $titie-font;
    font-size: 20px;
  }
  