@import "../../styles/variables.scss";

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
    background-color: $primarycolor;
    padding: 1rem;
    text-align: center;
    color: white;
    border-top: solid 5px $border-color;
    font-family: $titie-font;
    font-size: 20px;
  }
  